* {
    box-sizing: border-box;
    margin: 0;
    padding: 0p;
}

:root {  
    --cyan: lightcyan; 
    --grey:  rgb(102, 102, 102);
    --corn-blue: cornflowerblue;
    --dark-blue: rgb(40, 40, 116);
    


}

body { font-family: Helvetica, Arial, sans-serif; 
    color: var(--cyan); 
    font-weight: 500; 
    font-size: 16px; 
    text-decoration: none;
    background-color: var(--grey);
    display: flex; flex-direction: column;
    min-height: 100vh;
}
   
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--corn-blue);
    font-size: 35px;
   
}

.name { 
    padding: 5px;
  
}

.nav-links {
    list-style: none;

}

.nav-links li { 
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}


.nav-links li a {
    transition: all 0.3s ;  
}

.nav-links li a:hover {
    color: var(--dark-blue);
}

/* img:hover {
    opacity: .5;
    transition: .9s;
    cursor: pointer;
    
    
} */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}

h4 {font-size: 25px;
}

.contact { 
    list-style: none;     
}

.contact li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
   
}

.contact li a {
    transition: all 0.3s ;  
}

.contact li a:hover {
    color: var(--dark-blue);
}


