* {
    box-sizing: border-box;
    margin: 0;
    padding: 0p;
}

:root {


}

body { font-family: Helvetica, Arial, sans-serif; 
    color:lightcyan; 
    font-weight: 500; 
    font-size: 16px; 
    text-decoration: none;
    background-color: rgb(102, 102, 102);
    display: flex; flex-direction: column;
    min-height: 100vh;
}
   
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: cornflowerblue;
   
}

.nav-links {
    list-style: none;

}

.nav-links li { 
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}


.nav-links li a {
    transition: all 0.3s ;  
}

.nav-links li a:hover {
    color: rgb(40, 40, 116);
}

.banner { 
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/outdoor.jpg");
    background-size: cover;
    background-position: center ;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}

h4 {font-size: 25px;
}

.contact { 
    list-style: none;     
}

.contact li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
   
}

.contact li a {
    transition: all 0.3s ;  
}

.contact li a:hover {
    color: rgb(40, 40, 116);
}


h3 { display: flex; 
    justify-content: flex-end;
    margin-right: 100px;

}

.article { display: flex;
    flex-direction:column;
    margin-left: 100px; 
    margin-top: 30px;
    font-size: 23px;
}


.about { display: flex; 
    flex-direction: column;
  

}

.me {display: flex; 
    flex-direction: column;
    margin-left: 43px; 
    margin-top: 0px;
}

p { position: absolute;
    font-size: 12px;
    padding-left: 30px;
    margin-bottom: 25px;
    margin-left: 90px;
    border-left: solid cornflowerblue;
}

.article-2 { display: flex;
    flex-direction:column;
    margin-left: 100px; 
    margin-top: 30px;
    font-size: 23px;
}


.wrapper .work { 
    text-align: left;
    font-size: 23px;
}

.work {
    position:absolute;
    margin-left: 107px;
    font-size: 27px;
    border-right: solid cornflowerblue;
    padding: 8px;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  
}

.single-img {display: flex;
    justify-content: center;
    outline: solid cornflowerblue;
 
}

img:hover {
    opacity: .5;
    transition: .9s;
    cursor: pointer;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
     
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  